/*aplica cor escura */
body{
    background: #17171A;
}
/*cor do banner no header*/
._347-w:after {
    background-color: #7259C1 !important
}
/*inverte as cores*/
.app{
	filter:invert(1);
}
/*reverte para a cor normal das imagens*/
._1YbLB {
	filter:invert(1) !important;
}

/*reverte contatos*/
 .Qgzj8 {
    filter:invert(1) !important; 
 }
/*reverte tumb do vídeo*/ 
._1C80R {
    filter:invert(1) !important; 
}

/*foto de perfil*/
.IuYNx {
   filter:invert(1) !important; 
}

/*reverte os emojis para a cor normal*/
.emojik, .emoji.wa._3FXB1 {
    filter: invert(1);
}
