#app {
background-color: black !important;
}

._2i7Ej ,._14Mgc, .copyable-area, ._2i7Ej {
    background-color: black !important;
}

html[dir] ._1ccjW::after, html[dir] ._3Jvyf {
 background-color: rgb(17,2,2);
 color: rgb(32,21,21);
}
._3fs0K { 
    background-color: black
}
.color-background-app { 
background-color: black 
}

body {
    background-color: black
}

#app {
    background-color: #092333 ;
}

._1_q7u {
    background-color: black ;
}

._2i7Ej ,._14Mgc, .copyable-area, ._2i7Ej {
    background-color: black !important;
}

html[dir] ._1ccjW::after, html[dir] ._3Jvyf {
 background-color: black;
 color: rgb(32,21,21);
}
._3fs0K { 
    background-color: black
}
.color-background-app { 
background-color: black 
}


#app {
    background-color: #092333 ;
}

._1_q7u {
    background-color: black ;
}

._2i7Ej ,._14Mgc, .copyable-area, ._2i7Ej {
    background-color: black !important;
}

html[dir] ._1ccjW::after, html[dir] ._3Jvyf {
 background-color: rgb(17,2,2) !important;
 color: rgb(32,21,21);
}
._3fs0K { 
    background-color: black;
        color: wheat;
}

._2LSbZ._2j5ir._2ZVEo,_2LSbZ._2j5ir._2ZVEo, ._2nIcO, .tzihe ,._3KRbU._3sLGI, ._13mgZ,._3u328.copyable-text.selectable-text,._2zCfw.copyable-text.selectable-text, .eiCXe, .ZP8RM ,._0LqQ, ._315-i._F7Vk, ._3fs0K , ._1qNwV ,._1ovWX._F7Vk , ._2UaNq , ._2UaNq, ._3H4MS, ._19RFN._1ovWX._F7Vk {
    background-color: black !important;
    color:wheat !important;
}
.WVFpp.status-image._3cO_w > svg {
    background-color: black;
    color: rgb(255,255,255);
}

.HGVhc {
filter: invert(100%);
}

#startup { background: black ;}

._2Nkc4._15CAo, ._3EQsG._15CAo {
    background: linear-gradient(90deg,hsla(94,78%,87%,0) 0,#0e0d16 50%) !important;
}

/* msgs enviadas*/
html[dir] .message-out ._2Wx_5, ._3qAvH  {
    background-color: #331c42 !important;
    color: white;
}

/* msgs recebidas */
html[dir] .message-in ._2Wx_5 {
	background-color: #130f32 !important;
    color: white;
}

/* deleted  */
.-bh0C, ._2v02G, ._3uHCS, ._3qAvH {
	color: red !important;
}

._2Lp2x, ._3Jvyf {  background: black !important; }

._2Lp2x > div { color: white; }

.tail-container { display: none; }

html[dir] ._2UaNq._3mMX1:after, html[dir] ._2UaNq:hover:after {
     border-top: none
}

progress {
	color: red !important;
	background: red !important;
	fill: red !important;
	display: none;
}

._2HHbr { 
 color: white !important;
}

/* cor das falas */
._F7Vk > span, ._3RQIp > span, ._2LRBk._F7Vk, .ZObjg {
    color: wheat;
}
/* cor dos numeros contatos nao cadastrados */
._1F9Ap._19RFN._18GNg._F7Vk {
    color: wheat !important;
}


/* negrito */
._12pGw strong {
    color: #966c1f !important;
}

._2ZAIy {
	color: lightblue !important;
}

html[dir] .P6z4j {
	background-color: blue !important;
}
html[dir] ._1qNwV:after {
    border-top: 6px solid blue !important;
}
/* horas */
._3fnHB, ._3Ux6T {
    display: inline-block;
    color: wheat;
}
/* dia */
html[dir] .a7otO {
    background-color: rgba(36, 36, 36, 0.92) !important;
	
}

/* sem bordas nas thumbnails */
html[dir] ._3RWII, html[dir] .jZhyM {
     border-radius: 0 !important;
    }

/* aumenta as thumbnails 
._3RWII {
    height: 66px !important;
    width: 62px !important;
}  porem diminui a img em outrs lugares.
   mal uso de classes da parte da equipe do whatsapp
*/

/* sem borda nos chats */
html[dir] ._2WP9Q, .hover._2UaNq, .hover {
     border: 0 !important;
}
html[dir] ._2UaNq:hover:after, ._2UaNq:hover:before  {
     border: 0 !important;
}

 /*sem bordas no chats*/   
 html[dir] ._2UaNq._3mMX1 ._2WP9Q, html[dir] ._2UaNq._3mMX1:after {border: 0 !important; } html[dir] ._2UaNq._3mMX1 ._2WP9Q, html[dir] ._2UaNq._3mMX1:before {
   border: 0 !important; 
 }
 
::-webkit-scrollbar {
    background: wheat !important;
}
    
html[dir] ._1lo-H {
    background-color: black !important;
    color: white !important;
}    

html[dir] ._13mgZ {
    border: 1px solid wheat !important;
}
 

/*Phone low battery*/
html[dir] ._2t3oV {
	position: sticky;
}
/*Phone disconnected*/
html[dir] ._1puWZ, html[dir] ._2xikZ {
    z-index: 10000;
    background-color: #fed859;
    position: sticky;
}

/* reply */
html[dir] ._1ebw2 {
    background-color: black;
	
}
/* reply x corner */
html[dir] .OWYLS {
    background-color: black;
}

/* send image bottom */ 
html[dir] .NeQRT {
    background-color: #0e0e0e !important;
    padding: 24px 20px 0 !important;
}
/* new chat tab */
html[dir] .r7sRK {
    background-color: #0e0d24 !important;
    color: white !important;
}
/* new chat tab */
html[dir] ._3jHKU {
    background-color: #0e0d24 !important;
}
/* new chat > new group */
html[dir] ._3p0T6 {
    background-color: #27263b !important;
}

path  {
	fill-opacity: 87%;
    fill: wheat;
    background: center !important;
    display: block;
}
/*search message*/


/* search top msg */
.kiodY { 
	background: black !important;
}
/*search bottom */ ._13U-5._2dEsb {
	background-color: black !important;
}

/* quote reply */
html[dir=ltr] ._3LVMN {
    background: #141a33;
}

._2LSbZ._2j5ir._1ur1f {
    background: black;
}



html[dir] ._1ebw2 {
    background-color: black !important;
    padding-top: 5px;
}
/* group innfo*/
html[dir] .OWYLS {
    background-color: black !important;
}

/*reply*/
html[dir] ._2a6mc {
    background: #380638 !important;
}

html[dir] ._2a6mc > div > span {
    color: wheat !important;
}

._F7Vk.selectable-text.invisible-space.copyable-text {
	color:white !important;
}

._2LSbZ._2j5ir.ujWpH {
    background-color: black !important;
}

._3_-Si {
    background-color: black !important;
}

._6xQdq {
	color:white !important;
}

._2LSbZ._2j5ir {
	background-color: black !important;
}

._3EN0l { 
	background-color: black !important;
}

html[dir=ltr] .pgYve {
    background-color: black !important;
}

html[dir=ltr] ._3KRbU {
    right: 11px;
    background-color: wheat !important;
}

html[dir] ._8fE-g {
    color: wheat; 
}
.matched-mention .at-symbol {
    color: rgba(255, 255, 255, 0.25) !important;
}

html[dir] ._1HjMu {
    padding: 10px 0 15px;
    background: black !important;
}

html[dir] ._2ogLZ {
    padding-top: 8px;
    padding-bottom: 8px;
    background: black !important;
}

html[dir=ltr] ._1GdY6 {
    background: black !important;
    margin-right: 18px;
}

html[dir] ._3yth3 {
    background-color: none
}

html[dir] ._3yth3 {
    background-color: black !important;
}

html[dir] .a7otO {
    text-align: center;
    color: wheat;
}

#app {
background-color: black !important;
}

._2i7Ej ,._14Mgc, .copyable-area, ._2i7Ej {
    background-color: black !important;
}

html[dir] ._1ccjW::after, html[dir] ._3Jvyf {
 background-color: rgb(17,2,2);
 color: rgb(32,21,21);
}
._3fs0K { 
    background-color: black
}
.color-background-app { 
background-color: black 
}

body {
    background-color: black
}

#app {
    background-color: #092333 ;
}

._1_q7u {
    background-color: black ;
}

._2i7Ej ,._14Mgc, .copyable-area, ._2i7Ej {
    background-color: black !important;
}

html[dir] ._1ccjW::after, html[dir] ._3Jvyf {
 background-color: black;
 color: rgb(32,21,21);
}
._3fs0K { 
    background-color: black
}
.color-background-app { 
background-color: black 
}


#app {
    background-color: #092333 ;
}

._1_q7u {
    background-color: black ;
}

._2i7Ej ,._14Mgc, .copyable-area, ._2i7Ej {
    background-color: black !important;
}

html[dir] ._1ccjW::after, html[dir] ._3Jvyf {
 background-color: rgb(17,2,2) !important;
 color: rgb(32,21,21);
}
._3fs0K { 
    background-color: black;
        color: wheat;
}

._2LSbZ._2j5ir._2ZVEo,_2LSbZ._2j5ir._2ZVEo, ._2nIcO, .tzihe ,._3KRbU._3sLGI, ._13mgZ,._3u328.copyable-text.selectable-text,._2zCfw.copyable-text.selectable-text, .eiCXe, .ZP8RM ,._0LqQ, ._315-i._F7Vk, ._3fs0K , ._1qNwV ,._1ovWX._F7Vk , ._2UaNq , ._2UaNq, ._3H4MS, ._19RFN._1ovWX._F7Vk {
    background-color: black !important;
    color:wheat !important;
}
.WVFpp.status-image._3cO_w > svg {
    background-color: black;
    color: rgb(255,255,255);
}

.HGVhc {
filter: invert(100%);
}

#startup { background: black ;}

._2Nkc4._15CAo, ._3EQsG._15CAo {
    background: linear-gradient(90deg,hsla(94,78%,87%,0) 0,#0e0d16 50%) !important;
}

/* msgs enviadas*/
html[dir] .message-out ._2Wx_5, ._3qAvH  {
    background-color: #331c42 !important;
    color: white;
}

/* msgs recebidas */
html[dir] .message-in ._2Wx_5 {
	background-color: #130f32 !important;
    color: white;
}

/* deleted  */
.-bh0C, ._2v02G, ._3uHCS, ._3qAvH {
	color: red !important;
}

._2Lp2x, ._3Jvyf {  background: black !important; }

._2Lp2x > div { color: white; }

.tail-container { display: none; }

html[dir] ._2UaNq._3mMX1:after, html[dir] ._2UaNq:hover:after {
     border-top: none
}

progress {
	color: red !important;
	background: red !important;
	fill: red !important;
	display: none;
}

._2HHbr { 
 color: white !important;
}

/* cor das falas */
._F7Vk > span, ._3RQIp > span, ._2LRBk._F7Vk, .ZObjg {
    color: wheat;
}
/* cor dos numeros contatos nao cadastrados */
._1F9Ap._19RFN._18GNg._F7Vk {
    color: wheat !important;
}


/* negrito */
._12pGw strong {
    color: #966c1f !important;
}

._2ZAIy {
	color: lightblue !important;
}

html[dir] .P6z4j {
	background-color: blue !important;
}
html[dir] ._1qNwV:after {
    border-top: 6px solid blue !important;
}
/* horas */
._3fnHB, ._3Ux6T {
    display: inline-block;
    color: wheat;
}
/* dia */
html[dir] .a7otO {
    background-color: rgba(36, 36, 36, 0.92) !important;
	
}

/* sem bordas nas thumbnails */
html[dir] ._3RWII, html[dir] .jZhyM {
     border-radius: 0 !important;
    }

/* aumenta as thumbnails 
._3RWII {
    height: 66px !important;
    width: 62px !important;
}  porem diminui a img em outrs lugares.
   mal uso de classes da parte da equipe do whatsapp
*/

/* sem borda nos chats */
html[dir] ._2WP9Q, .hover._2UaNq, .hover {
     border: 0 !important;
}
html[dir] ._2UaNq:hover:after, ._2UaNq:hover:before  {
     border: 0 !important;
}

 /*sem bordas no chats*/   
 html[dir] ._2UaNq._3mMX1 ._2WP9Q, html[dir] ._2UaNq._3mMX1:after {border: 0 !important; } html[dir] ._2UaNq._3mMX1 ._2WP9Q, html[dir] ._2UaNq._3mMX1:before {
   border: 0 !important; 
 }
 
::-webkit-scrollbar {
    background: wheat !important;
}
    
html[dir] ._1lo-H {
    background-color: black !important;
    color: white !important;
}    

html[dir] ._13mgZ {
    border: 1px solid wheat !important;
}
 

/*Phone low battery*/
html[dir] ._2t3oV {
	position: sticky;
}
/*Phone disconnected*/
html[dir] ._1puWZ, html[dir] ._2xikZ {
    z-index: 10000;
    background-color: #fed859;
    position: sticky;
}

/* reply */
html[dir] ._1ebw2 {
    background-color: black;
	
}
/* reply x corner */
html[dir] .OWYLS {
    background-color: black;
}

/* send image bottom */ 
html[dir] .NeQRT {
    background-color: #0e0e0e !important;
    padding: 24px 20px 0 !important;
}
/* new chat tab */
html[dir] .r7sRK {
    background-color: #0e0d24 !important;
    color: white !important;
}
/* new chat tab */
html[dir] ._3jHKU {
    background-color: #0e0d24 !important;
}
/* new chat > new group */
html[dir] ._3p0T6 {
    background-color: #27263b !important;
}

path  {
	fill-opacity: 87%;
    fill: wheat;
    background: center !important;
    display: block;
}
/*search message*/


/* search top msg */
.kiodY { 
	background: black !important;
}
/*search bottom */ ._13U-5._2dEsb {
	background-color: black !important;
}

/* quote reply */
html[dir=ltr] ._3LVMN {
    background: #141a33;
}

._2LSbZ._2j5ir._1ur1f {
    background: black;
}



html[dir] ._1ebw2 {
    background-color: black !important;
    padding-top: 5px;
}
/* group innfo*/
html[dir] .OWYLS {
    background-color: black !important;
}

/*reply*/
html[dir] ._2a6mc {
    background: #380638 !important;
}

html[dir] ._2a6mc > div > span {
    color: wheat !important;
}

._F7Vk.selectable-text.invisible-space.copyable-text {
	color:white !important;
}

._2LSbZ._2j5ir.ujWpH {
    background-color: black !important;
}

._3_-Si {
    background-color: black !important;
}

._6xQdq {
	color:white !important;
}

._2LSbZ._2j5ir {
	background-color: black !important;
}

._3EN0l { 
	background-color: black !important;
}

html[dir=ltr] .pgYve {
    background-color: black !important;
}

html[dir=ltr] ._3KRbU {
    right: 11px;
    background-color: wheat !important;
}

html[dir] ._8fE-g {
    color: wheat; 
}
.matched-mention .at-symbol {
    color: rgba(255, 255, 255, 0.25) !important;
}

html[dir] ._1HjMu {
    padding: 10px 0 15px;
    background: black !important;
}

html[dir] ._2ogLZ {
    padding-top: 8px;
    padding-bottom: 8px;
    background: black !important;
}

html[dir=ltr] ._1GdY6 {
    background: black !important;
    margin-right: 18px;
}

html[dir] ._3yth3 {
    background-color: none
}

html[dir] ._3yth3 {
    background-color: black !important;
}

html[dir] .a7otO {
    text-align: center;
    color: wheat;
}

html[dir] .cGLoy {
    background-color: black; !important
}
