/*aplica cor escura */
body{
    background: #17171A;
}
/*cor do banner no header*/
._347-w:after {
    background-color: #7259C1 !important
}
/*inverte as cores*/
.app{
	filter:invert(1);
}
/*reverte para a cor normal das imagens*/
img {
	filter:invert(1);
}
/*reverte os emojis para a cor normal*/
.emojik {
    filter: invert(1);
}